/*plugin css*/
.s2s_contenedor, 
.s2s_contenedor a{

}
.s2s_contenedor{
  margin:4px;
}
.s2s_options{
  display:none;
}

.s2s_contenedor a{
    padding: 0px 8px;

}
.s2s_contenedor a:hover{
    text-decoration: none;
}
.s2s_contenedor .btn{
  padding:0px !important;
}
.s2s_contenedor .btn > a{
      font-size: 2em;
}

.s2s_contenedor .btn-xs > a{
   font-size: 1.2em;
}
.s2s_contenedor .btn-sm > a{
   font-size: 1.4em;
}

.s2s_contenedor .btn > a .s2s_social_text{
      font-size: 0.6em;
}

.s2s_contenedor > div{

}


.globo{
  background: #fff;
  padding: 11px;
  border: 1px solid #e6e6e6;
  border-radius: 0 4px 4px 4px;
  box-shadow: 1px 2px 3px #aaa;
}


.is_on_screen.globo{
  border-radius: 4px 0 4px 4px;
}


.s2s_cookie_contenedor span{
  font-size: 0.7em;
}

.s2s_cookie_eulogo{
  float: left;
  width: 52px !important;
  height: 52px !important;
  padding-right: 12px;
}
.s2s_cookie_more_info{
    display:none;
  }
.s2s_cookie_more_info{
  background: #e2e2e2;
  padding: 10px;
  border-radius: 4px;
  white-space: normal;
  width: 300px;
  text-align: justify;
  font-size: 0.7em;
}
.s2s_cookie_more_info p.s2s_cookie_read_policy a{
  display: inline-block;
  padding: 0;
}

.s2s_options{

}

.s2s_cookie_copyright{
  padding: 0px;
  margin: 0px;
  text-align: right;
}
.s2s_cookie_copyright a{
  font-size:10px;
  padding: 0px;
  margin: 0px;
}


/*Gplus workaround*/
.s2s_gplus_share{

}


/*plus one workaround*/
.g-plusone{
  display:none !important;
}
.s2s_gplus_one, .s2s_gplus_share, .s2s_gplus_follow{
  /*float:left;*/
  clear:both;
}
.s2s_gplus_one > div, .s2s_gplus_one iframe{
  position:static !important;
  width: 140px !important;
  height: 26px;
}

/*is_on_screen*/

.is_on_screen:before{

}

/*v1.1.2
fixed position
*/

div.s2s_supra_contenedor.s2s_pos_fixed{
  position:fixed;
  bottom: 0;
}

div.s2s_supra_contenedor.s2s_pos_fixed.s2s_fixed_horizontal{

}

div.s2s_supra_contenedor.s2s_pos_fixed.s2s_fixed_vertical > .s2s_contenedor{
  display: inline-block;
}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_fixed_vertical > .s2s_contenedor > .btn{
    display: block;
    float: none;
    max-width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_fixed_vertical > .s2s_contenedor > .btn:first-child{
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}


/*HORIZONTAL X*/
div.s2s_supra_contenedor.s2s_pos_fixed .globo .s2s_gplus_one{
  float:none;
}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_right .s2s_contenedor > div.btn > a{
 text-align: right;
}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_left .s2s_contenedor > div.btn > a{
 text-align: left;
}

div.s2s_supra_contenedor.s2s_pos_fixed .globo{
 display: none;
 border-radius: 0 0px 4px 4px;
}
div.s2s_supra_contenedor.s2s_pos_fixed .active .globo{
 position: relative;
 display: block;
}


div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_right{
  right:0;
}

div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_center{
  right:0;
  left:0;
  text-align: center;
}

div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_left{
  left:0;
}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_x_left .globo{
  top: 0%;
}

/*VERTICAL Y*/
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_y_top{
top: 0%;

}
div.s2s_supra_contenedor.s2s_pos_fixed.s2s_pos_fix_y_center{
top: 50%;
bottom:0;
}


/*2.0.7 litter arrow fix*/
.s2s_contenedor .s2s_flecha{
    content: ' ';
    position: absolute;
    border: 8px solid;
    border-color: #D6D6D6 transparent transparent transparent;
    z-index: 99999;
    /*left: 0;*/
    top: -1px;
     -webkit-transition:opacity 300ms;
    -webkit-transition-delay: 100ms;
    opacity: 0;
}
.s2s_contenedor .active .s2s_flecha{
opacity: 1;
}
/*fb arrow fix*/
.s2s_supra_contenedor.cookie_on .s2s_facebook_iframe>div.s2s_flecha{
display: block;
}
/*
.s2s_twitter .s2s_flecha{
  border-color: #00aced transparent transparent transparent;
}
.s2s_facebook .s2s_flecha{
  border-color: #3b5998 transparent transparent transparent;
}
.s2s_pinterest .s2s_flecha{
  border-color: #cb2027 transparent transparent transparent;
}
.s2s_linkedin .s2s_flecha{
  border-color: #007bb6 transparent transparent transparent;
}
.s2s_gplus .s2s_flecha{
  border-color: #dd4b39 transparent transparent transparent;
}
.s2s_tumblr .s2s_flecha{
  border-color: #32506d transparent transparent transparent;
}
.s2s_vk .s2s_flecha{
  border-color: #45668e transparent transparent transparent;
}
*/

.s2s_contenedor.fill_mobile{
  background: #eaeaea;
}

/*2.3.0*/
.s2s_contenedor.fill_mobile{
  background: #efefef;
  box-shadow: 0 0 6px #ccc inset;
}

/*3.0.3 fix wapp button*/
.s2s_wapp_iframe a.wapp_link{
  padding: 8px !important;
}
.s2s_wapp_iframe a.wapp_link:hover{
  color:green;
}
/*balloon top*/
.s2s_balloon_top .globo{
  box-shadow:0px -1px 4px #aaa;
}
.s2s_supra_contenedor.s2s_balloon_top .globo{
  //bottom:36px;
}

.s2s_contenedor .btn-xs .s2s_badge{
  font-size: 8px;
    padding: 2px 4px;
}

.s2s_contenedor .btn-sm .s2s_badge{
  font-size: 10px;
    padding: 2px 4px;
}
