header, footer, nav, aside,.menu,.franja,.noticias.menuIzquierdo,#listadoNews { display: none;}
.contenidoCentralDosCols,.noticias.contenidoCentralUnaColumna{width: 100%;max-width: 100%;flex: 0 0 100%; padding:0;}
.tab-content > .tab-pane {display: block;}
.fade{opacity:1;}
.nav-tabs {display: none;}
.print {display: block;}
.tab-content > .tab-pane {display:block;opacity:1;}

.container-fluid.center{padding:0;}
.menuIzquierdo a.enlaceCaja {display: none;}
.contenidoCentralDosCols .columnas.personas .col-lg-9.col-md-6.col-sm-12.\39 x3:nth-of-type(1) {width: 100%; min-width: 100%; padding:0;}
.contenidoCentralDosCols .columnas.personas div.col-lg-3.col-md-6.col-sm-12:nth-of-type(2) {display: none;}
.contenidoCentralDosCols .page-title{margin-bottom: 1em; padding:0; }
.contenidoCentralDosCols .nav-tabs .nav-link {margin: 1em 0 0 0;font-weight: bold;}
.contenidoCentralDosCols .container-fluid.center .nav-tabs .tab-content{padding:0; background-color: none;}
.contenidoCentralDosCols .container-fluid.center .columnas.personas {margin-bottom: 1em;}
.contenidoCentralDosCols .tab-content {padding:0; margin-bottom: 2em;}
.contenidoCentralDosCols .columnas.personas .enlaces{display: none;}

.cookiealert.show{display: none;}
